<div class="banner" ng-controller="ApplyCtrl">
    <div class="row">	
    	<div class="col-md-8 text-center">
			
					<p style="padding-top: 25px;">All program information including eligibility criteria is listed
					within the scholarship application. Interested applicants should
					download the application and save it.</p>

					<p>You may complete the application electronically. Once
					completed, the application should be printed, signed and
					mailed with the requested attachments to the address on the
					application form. <br><br>
                                        <a href="pdf/WRN_Application_US.pdf" target="_new"><button class="bigBtn sm-txt">
        <!--<button ng-click="applyUS()" class="bigBtn sm-txt">-->U.S Application</button></a>
<a href="pdf/WRN_Application_Canada.pdf" target="_new"><button class="bigBtn sm-txt">
        <!--<button ng-click="applyCA()" class="bigBtn sm-txt">-->Canadian Application</button></a>
					</p>
                    
                    <p> <a href="http://get.adobe.com/reader/" style="text-decoration:none; color: #355F6D;"><b>Get Adobe Reader Here</b></a></p>
    </div>
    <div class="col-md-4 text-center">
    	<img src="images/wrnLogo.png" class="logo-secondary">
    </div>
</div>
