<div class="row" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="col-md-8 text-center">
    <p>If you have any questions regarding the program please contact the scholarship program headquarters:</p>
    <p>CMS Foundation - WRN Scholarship Program<br />
        PO Box 648<br />
        Naperville, IL  60566<br />
        <br />Email: <a href="mailto:wrnscholarshipinfo@gmsac.com" style="color: #355F6D;">wrnscholarshipinfo@gmsac.com</a><br />
        <br />or call: 630-428-2412</p>
  </div>
  <div class="col-md-4 text-center"></div>
</div>
