<div class="row">
  <div class="col-sm-8 col-md-8 slogan">
    <h2>Drive To Succeed Scholarship</h2>
    <h4>The application deadline is April 15, 2024</h4>
  </div>
  <div class="col-sm-4 col-md-4">
    <img src="images/wrnLogo.png" class="logo-main">
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <h3>Making a difference for women pursuing a career in automotive retail.</h3>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <h3>Recent Winners</h3>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row" id="winners">
  <div class="col-sm-4 fifths">
    <img src="images/Erickson_Mariah.jpg" />
    <p>Mariah Erickson</p>
  </div>
  <div class="col-sm-4 fifths">
    <img src="images/Gallagher_Brittany.jpg" />
    <p>Brittany Gallagher</p>
  </div>
  <div class="col-sm-4 fifths">
    <img src="images/Gray_Bethany.jpg" />
    <p>Bethany Gary</p>
  </div>
  <div class="col-sm-4 fifths">
    <img src="images/Helmer_Kelli.jpg" />
    <p>Kelli Helmer</p>
  </div>
  <div class="col-sm-4 fifths">
    <img src="images/Kalafala_Alexis.jpg" />
    <p>Alexis Kalafala</p>
  </div>
  <div class="col-md-4 spacer"></div>
  <div class="col-sm-4 fifths">
    <img src="images/Laux_Mikayla.jpg" />
    <p>Mikayla Laux</p>
  </div>
  <div class="col-sm-4 fifths">
    <img src="images/Morales_Claudia.jpg" />
    <p>Claudia Morales</p>
  </div>
  <div class="col-sm-4 fifths">
    <img src="images/Stein_Grace.jpg" />
    <p>Grace Stein</p>
  </div>
  <div class="col-sm-4 fifths">
    <img src="images/Whitmer_Keeley.jpg" />
    <p>Keeley Whitmer</p>
  </div>
</div>
<div class="row gmLogos">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center"><img src="images/gmLogos.png"></div>
  <div class="Col-md-4"></div>
</div>